.item {
    margin-bottom: 17.5px;
}

.icon {
    cursor: pointer;
}

.icon h3 {
    padding-top: 18px;
    padding-left: 8px;
}
.light {
    position: absolute;
    bottom: -38px;
    right: 1px;
    width: 30px;
    height: 30px;
    background-color: rgb(196, 196, 196);
}
.green {
    background-color: rgb(33, 150, 83);
    position: absolute;
    bottom: -38px;
    right: 1px;
    width: 30px;
    height: 30px;
}
